<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demoforuniapp.mapper.UserMapper">
    <select id="findByUsername" resultType="com.example.demoforuniapp.entity.User">
        SELECT * FROM user_entity where username=#{username}
    </select>
</mapper>